@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.home {
  background-color: v.$off-white;
  padding: 5rem 0;

  .container {
    columns: 3;
    max-width: 1200px;
    margin: auto;

    @include m.xl {
      max-width: 992px;
    }

    @include m.lg {
      columns: 2;
      max-width: 768px;
    }

    @include m.md {
      columns: 1;
      max-width: 576px;
    }

    @include m.sm {
      width: 100%;
    }
  }
}
